<article class="listing">
  <div class="detail owner">
    <span>Owner: {{rental.owner}}</span>
  </div>
  <div class="detail type">
    <span>Type: {{rental.category}}</span>
  </div>
  <div class="detail location">
    <span>Location: {{rental.city}}</span>
  </div>
  <div class="detail bedrooms">
    <span>Number of Bedrooms: {{rental.bedrooms}}</span>
  </div>
</article>
